<div>
    <h3>Login</h3>
    <form class="login-form">
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="usernameLogin">
        </div>
        <div>
            <label for="username">Password: </label>
            <input type="password" name="password" id="passwordLogin">
        </div>
        <div>
            <input type="submit" value="Login" id="loginBtn">
        </div>
    </form>
    <p>New here?</p>
    <button><a href="/api/users/signup">Sign Up</a></button>
</div>

<script src="./js/login.js"></script>
