<div>
    <h3>Login</h3>
    <form class="login-form">
        <div>
            <label for="username" class="form-label">Username: </label>
            <input type="text" name="username" id="usernameLogin" class="form-control">
        </div>
        <div>
            <label for="password" class="form-label">Password: </label>
            <input type="password" name="password" id="passwordLogin" class="form-control">
        </div>
        <div>
            <button type="submit" id="loginBtn" class="btn btn-outline-dark">Login</button>
        </div>
    </form>
    <h4>New here?</h4>
    <button class="btn btn-outline-dark"><a href="/api/users/signup" class="text-reset text-decoration-none">Sign Up</a></button>
</div>

<script src="/js/login.js"></script>
