<div>
    <h3>Sign Up</h3>
    <form class="signup-form">
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username-signup">
        </div>
        <div>
            <label for="username">Password (8 characters min): </label>
            <input type="password" name="password" id="password-signup">
        </div>
            <div>
            <input type="submit" value="Sign Up" id="signupBtn">
        </div>
    </form>
    <p>Have an account?</p>
    <button><a href="/api/users/login">Login</a></button>
</div>

<script src="../public/js/signup.js"></script>