<div>
    <h3>Sign Up</h3>
    <form class="signup-form">
        <div>
            <label for="username" class="form-label">Username: </label>
            <input type="text" name="username" id="username-signup" class="form-control">
        </div>
        <div>
            <label for="password" class="form-label">Password (8 characters min): </label>
            <input type="password" name="password" id="password-signup" class="form-control">
        </div>
        <div>
            <button type="submit" id="signupBtn" class="btn btn-outline-dark">Sign Up</button>
        </div>
    </form>
    <p>Have an account?</p>
    <button class="btn btn-outline-dark"><a href="/api/users/login" class="text-reset text-decoration-none">Login</a></button>
</div>

<script src="/js/signup.js"></script>