<div>
    <h3>Sign Up</h3>
    <form>
        <div class="form-example">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-example">
            <label for="username">Password (8 characters min): </label>
            <input type="password" name="password" id="password">
        </div>
            <div class="form-example">
            <input type="submit" value="Sign Up">
        </div>
    </form>
    <p>Have an account?</p>
    <button><a href="/api/users/login">Login</a></button>
</div>